@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdde7e;
}
main {
  height: 700px;
}
.section {
  display: flex;
  width: 50%;
  margin: 10% auto;
  height: 75%;
  justify-content: space-between;
  text-align: center;
}
.block-content {
  background-color: #fff;
  width: 32%;
  padding: 30px;
  align-self: center;
  height: 85%;
}

.img {
  padding-left: 20px;
}
.second-block {
  background-color: #fff;
  width: 32%;
  padding: 30px;
  align-self: stretch;
}

.block-text {
  padding-top: 25%;
}

h3 {
  font-size: 30px;
  font-family: "Miso";
}
span {
  display: block;
  padding-top: 30px;
  font-size: 20px;
  font-family: "Miso Light";
}
